.clock {
  outline: 2px dashed red;
  height: 35%;
  margin: 0 auto;
  padding: 10%;
  text-align: center;
}

.clock .unit {
  outline: 1px dashed blue;
  width: 20%;
  min-height: 100px;
  margin: 0 auto;
  display: inline-block;
}

.clock .unit .name, .clock .unit .number {
  text-align: center;
  min-height: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
