body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.four.cards>.card {
  padding: 5%;
  text-align: center;
  width: 100px;
  height: 95px;
}

.ui.header.number span {
  font-weight: lighter;
  text-align: center;
}

.ui.header .sub.header {
  font-weight: bolder;
  font-size: 1rem;
}
